body {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}


#grid-container {
    display:grid;
    width:500px;
    height:500px;
}

.grid-square {
    border: 1px solid #ccc;
}